<div class="container p-4 mt-4">
    <h1 class="text-center">Listing all articles</h1>
    <% @articles.each do |article| %>
        <div class="row mb-4">
          <div class="col-12">
            <div class="card p-4">
              <div class="article-title">
                <%= link_to article.title, article_path(article), class: "text-info"%>
              </div>
              <div class="article-body mb-3 py-3">
                <%= truncate(article.description, lenght: 100)%>
                <div class="article-meta-details">
                  <small>
                          Created by: <%= article.user.username if article.user %>,
                          <%= time_ago_in_words(article.created_at)%> ago, 
                          Last updated: <%= time_ago_in_words(article.updated_at)%> ago
                  </small>
                </div>
              </div>
              <div class="card-links">
                <%= link_to "Edit this article", edit_article_path(article), class: "btn btn-primary btn-sm"%> 
                <%= link_to "Delete this article", article_path(article), method: :delete, 
                                                data: { confirm: "Are you sure you want to delete this article?" },
                                                class: "btn btn-danger btn-sm" %> 
              </div>
            </div>
          </div>
        </div>
    <% end %>
</div>


