<h1 class="text-center font-weight-bold text-warning mb-0 mt-5">
Welcome to <span class="text-primary"><%= @user.username%>'s</span> page
</h1>

<div class="container">
  <div class="row">
    <div class="col-md-4 mx-auto text-center my-2">
      <%= gravatar_for @user, size: 150 %>
    </div>
  </div>
</div>

<h4 class="text-center mt-3 font-weight-bold"><%= @user.username%>'s articles</h4>
 <div class="d-flex justify-content-center mt-5">
   <%= will_paginate @user_articles%>
 </div>  
<%= render 'articles/article', obj: @user_articles %>
<div class="d-flex justify-content-center m-3 mb-5">
   <%= will_paginate @user_articles%>