<nav class="navbar navbar-expand-xl fixed-top navbar-menu text-white mb-4">
  <%= link_to "Alpha blog", root_path, class: "navbar-brand"%>
  <button class="navbar-toggler nav-button" type="button" data-toggle="collapse" data-target="#myNavbar">
    <div class="bg-light line1"></div>
    <div class="bg-light line2"></div>
    <div class="bg-light line3"></div>
  </button>

  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="navbar-nav">
      <li>
        <%= link_to "Articles", articles_path, class:"nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Users', users_path, class: 'nav-link' %>
      </li>
      <% if logged_in? %>
        <li class="nav-item dropdown mr-2">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "New article", new_article_path, class: "dropdown-item hovered"%>
            <div class="dropdown-divider"></div>
            <%= link_to "View all Categories", categories_path, class: "dropdown-item hovered"%>
            <%= link_to "View all users", users_path, class: "dropdown-item hovered"%>
          </div>
        </li>
      <% end %>

       <li class="nav-item dropdown mr-2">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "All Categories", categories_path, class: "dropdown-item hovered"%>
            <div class="dropdown-divider"></div>
            <% Category.all.each do |category| %>
              <%= link_to "#{category.name}", category_path(category), class: "dropdown-item hovered" %>
            <% end %>
            <% if logged_in? and current_user.admin? %>
              <div class="dropdown-divider"></div>
              <%= link_to "New Category", new_category_path, class: "dropdown-item hovered"%>
            <% end %>
          </div>
        </li>
    </ul>
     
    <ul class="navbar-nav mr-5 ml-auto">
     <% if logged_in?  %>
        <li class="nav-item">
          <%= link_to "Log out", logout_path, method: :delete, class:"nav-link"%>
        </li>
        <li class="nav-item dropdown mr-5">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Your profile <%= "Admin" if current_user.admin?%>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Edit your profile", edit_user_path(current_user), class: "dropdown-item hovered"%>
            <%= link_to "View your profile", user_path(current_user), class: "dropdown-item hovered"%>
            <%= link_to "Log out", logout_path, method: :delete, class:"dropdown-item hovered"%>

          </div>
        </li>
      <% else %>
       <li class="nav-item">
          <%= link_to "Log in", login_path, class:"nav-link"%>
        </li>
       <li class="nav-item">
          <%= link_to "Sign up", signup_path, class:"nav-link"%>
        </li>
      <% end %>
    </ul>
      
  </div>
</nav>


